/* === global styles === */

html {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #9B9B9B;
    background-color: #F3F5F5;
}

h1, 
h2,
h3 {
    color: #505050;
    font-weight: bold;
}

h1, 
h2 {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

.container {
    padding: 32px 24px;
}

.mobile {
    display: none;
}

.feature {
    width: 60%;
    overflow: hidden;
    padding: 32px 0;
}

.feature img,
.feature video {
   max-width: 100%; 
   height: auto;
   display: block; 
}

.caption {
    display: flex;
    flex-flow: column;
    margin: 32px 24px 0 0;
}

@media only screen and (max-width: 750px) {
    .feature {
        width: 100%;
        padding: 0 0 32px 0;
    }

    .container {
        padding: 32px 16px;
    }

    .desktop {
        display: none;
    }

    .mobile {
    display: flex;
    }
}



/* === header === */

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 64px;
    width: 100%;
    z-index: 12;
    background-color: white;
}

.logo {
    display: flex;
    margin: auto 0;
    padding-left: 1.5rem;
    height: 2rem;
    align-items: center;
}

.logo p:nth-child(2n+0) {
    font-weight: bold;
    color: #505050;
}

nav {
    display: flex;
    color: #4B4B4B;
}

nav ul {
    display: flex;
    margin-right: 1.5rem;
}

nav li {
    padding-left: 1rem;
    margin: auto 0;
}

@media only screen and (max-width: 750px) {
    header {
        display: block;
    }
    
    .logo {
        display: none;
    }

    nav {
        display: block;
        padding-top: 1rem;
    }

    nav li {
        padding: 0;
        margin: auto 0;
        align-items: center;
    }

    nav .mobile {
        justify-content: space-around;
        margin: 0;
    }

}
/* === Hero === */

.hero {
    display: flex;
    background-color: #D8D8D8;
    margin-top: 64px;
} 

.mission {
    display: flex;
    flex-direction: column;
    margin: auto 1.5rem;
}

.button {
    background-color: #505050;
    text-align: center;
}

.button:hover {
    background-color: #4B4B4B;
}

.mission h1, 
.mission h3,
.button {
    margin-bottom: 24px;
}

.button p {
    padding: 0.5rem 0;
    color: white;
}

@media only screen and (max-width: 750px) {

    .hero {
        flex-direction: column;
    }

    .hero.container {
        padding: 0;
    }

    .mission h1, 
    .mission h3,
    .button {
    margin-bottom: 1.5rem;
    width: 100%;
}

    .button {
        background-color: #9B9B9B;
    }

    .mission h1,
    .button {
        margin-bottom: 2rem;
    }

}

/* === information === */

.information {
    display: flex;
    flex-direction: row;
}

.caption h2 {
    padding-bottom: 1.5rem;
}

.caption span {
    padding-top: 2rem;
}

.containerRight {
    width: 40%;
    padding: 32px 0;
}

.information.container {
    padding-right: 0;
}

.teaser {
    display: flex;
    border: solid 1px lightgrey;
}

.information .teaser:last-child {
    background-color: lightgrey;
}

.teaserimg.desktop{
    width: 35%;
    overflow: hidden;
    padding: 16px;
}

.teaserimg img {
    height: auto;
    max-width: 100%;
    display: block;
}

.teasertxt {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.teasertxt h3,
.teasertxt p {
    margin-bottom: 0.5rem;
}

.teaser a {
    text-decoration: underline;
    color: blue;
}

@media only screen and (max-width: 750px) {

    .information {
        flex-direction: column;
    }

    .information.container {
        padding-right: 16px;
    }

    .containerRight {
        padding-top 16px;
        width: 100%;
    }

    .teaser {
        flex-direction: column;
        border: hidden;
        overflow: hidden;
    }

    .teaser:last-child {
        background-color: inherit;
    }

    .teaserimg.mobile {
        width: 100%;
        display: inline-block;
    }
    
    .teaserimg img {
        width: 100%;
        display: inline-block;
    }

    .teasertxt {
        padding: 0 1rem;
        width: 100%
    }

}

/* === learning === */

.learning {
    display: flex;
    flex-direction: column;
    background-color: #EAEBEC;
}

.learning.container {
    padding: 0 72px;
    margin: 0;
}

.learning h2{
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin: 0 auto;
}

.courses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

.course {
    background-color: white;
    margin: 1rem;
    margin-bottom: 0;
    width: 30%;
}

.courseimg.desktop {
    width: 100%;
    overflow: hidden;
}

.courseimg img {
   max-width: 100%; 
   height: auto;
   display: block;
}

.coursetxt {
    padding: 1rem;
    padding-bottom:1rem;
    height: auto;
}

.coursetxt h3,
.coursetxt p {
    padding-bottom: 0.5rem;
}

@media only screen and (max-width: 750px) {

    .learning {
        background-color: inherit;
    }

    .learning.container {
        margin: 0 16px;
        padding: 0;
    }

    .courses {
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0;
        overflow: hidden;
        width: 100%;
    }

    .course {
        width: 100%;
        margin: 0 0 8px 0;
        background-color: inherit;
    }

    .course:last-child {
        margin: 0;
    }

    .coursetxt {
        padding: 0;
    }

    .course h3 {
        padding: 1rem;
        padding-bottom: 1.5rem;
        background-color: lightgrey;
    }
}
/* === thesis === */

.thesis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 32px;
}

.thesis h2 {
    margin: 0 auto;
}

.thesisvid {
    margin-right: 24px;
}

.caption h3 {
    padding-bottom: 1.5rem;
}


.thesis-content {
    display: flex;
    flex-direction: columnn;
}

.thesis .teaser:first-child {
    background-color: lightgrey;
}

@media only screen and (max-width: 750px) {

    .thesis.container {
        padding: 0;
    }

    .thesis h2 {
        padding-bottom: 1rem;
    }

    .thesisvid {
        width: 100%;
        margin: 0;
    }
}

/* === footer === */

footer {
    display: flex;
    justify-content: space-between;
    margin: 1rem 1.5rem;
}

footer ul {
    display: flex;
}

footer li {
    margin-left: 1rem;
}

footer a {
    text-decoration: none;
    color: inherit;
}