/* === global styles === */

html {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: #9B9B9B;
}

h1, 
h2,
h3 {
    color: #505050;
}

h1, 
h2 {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

.feature {
    width: 60%;
    overflow: hidden;
    padding: 32px 24px;
}

.feature img,
.feature video {
   max-width: 100%; 
   height: auto;
   display: block;
}

/* === header === */

header {
    display: flex;
    justify-content: space-between;
    height: 64px;
    width: 100%;
}

.logo {
    display: flex;
    margin: auto 0;
    padding-left: 25px;
    height: 32px;
    align-items: center;
}

.logo p:nth-child(2n+0) {
    font-weight: bold;
    color: #505050;
}

nav {
    display: flex;
    align-items: center;
    color: #4B4B4B;
}

nav ul {
    margin-right: 24px;
}

nav li {
    display: inline;
    padding-left: 16px;
}

/* === Hero === */

.hero {
    display: flex;
    justify-content: center;
    background-color: #D8D8D8;
} 

.mission {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.button {
    background-color: #505050;
    text-align: center;
}

.mission h1, 
.mission h3,
.button {
    margin-bottom: 24px;
    width: 60%; 
}

.button p {
    padding: 8px;
    color: white;
}

/* === information === */

.information {
    display: flex;
    flex-direction: row;
}

.caption {
    margin: 32px 24px 0 0;
}

.containerRight {
    width: 40%;
    padding: 32px 0;
}

.teaser {
    display: flex;
    border: solid 1px lightgrey;
}

.teaser:last-child {
    background-color: lightgrey;
}

.teaserimg {
    max-width: 35%;
    overflow: hidden;
    padding: 16px;
}

.teaser img {
    height: auto;
    width: 100%;
    display: block;
}

.teasertxt {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.teasertxt h3,
.teasertxt p {
    margin-bottom: 8px;
}

a {
    text-decoration: underline;
    color: blue;
}