/* === global styles === */

html {
    font-size: 16px;
    font-family: 'Lora', serif;
    color: #8F8F8F;
    background-color: #F3F5F5;
}

h1, 
h2,
h3 {
    color: #696969;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

h1, 
h2 {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    color: #4C2C66;
}

h3 {
    font-size: 1.25rem;
}

.sitecontainer {
    padding: 32px 24px;
    max-width: 2000px;
    display: flex;
}

.mobile {
    display: none;
}

.feature {
    width: 60%;
    overflow: hidden;
    padding: 32px 0;
}

.feature img,
.feature video {
   max-width: 100%; 
   height: auto;
   display: block; 
}

.caption {
    display: flex;
    flex-flow: column;
    margin: 32px 24px 0 0;
}

@media only screen and (max-width: 750px) {
    .feature {
        width: 100%;
        padding: 0 0 32px 0;
    }

    .sitecontainer {
        padding: 32px 16px;
        flex-direction: column;
    }

    .desktop {
        display: none;
    }

    .mobile {
    display: flex;
    }
}



/* === header === */

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 64px;
    width: 100%;
    z-index: 12;
    background-color: white;
    border-bottom: 1px solid #4C2C66;
    filter: drop-shadow(0 0 0.25rem #4C2C66);
}

.logo {
    display: flex;
    margin: auto 0;
    padding-left: 1.5rem;
    height: 2rem;
    align-items: center;
}

.logo p:nth-child(2n+0) {
    font-weight: bold;
    color: #4C2C66;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    margin-right: 1.5rem;
}

nav li {
    padding-left: 1rem;
    margin: auto 0;
}

nav li a {
    text-decoration: none;
    color: #8F8F8F;
    transition-duration: 350ms; 
}

nav li a:active {
    color: #4C2C66;
}

nav li a:hover {
    color: #4C2C66;
    text-shadow: 0 0 1px #4C2C66;
}

@media only screen and (max-width: 750px) {
    header {
        display: block;
    }
    
    .logo {
        display: none;
    }

    nav {
        display: block;
        padding-top: 1rem;
    }

    nav li {
        padding: 0;
        margin: auto 0;
        align-items: center;
    }

    nav .mobile {
        justify-content: space-around;
        margin: 0;
    }

}
/* === Hero === */

.hero {
    display: flex;
    justify-content: center;
    background-color: #E8E8E8;
    margin-top: 64px;
} 

.hero .sitecontainer {
    width: 100%;
}

.hero img {
    border-radius: 15px;
}

.mission {
    flex-direction: column;
    margin: auto 1.5rem;
}

.button {
    background-color: #505050;
    text-align: center;
    border-radius: 5px;
    transition: all 300ms;
}

.button:hover {
    background-color: #4C2C66;
    transform: scale3d(1.01, 1.01, 1);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.mission h1, 
.mission h3,
.button {
    margin-bottom: 24px;
}

.mission h1 {
    color: #4C2C66;
}

.mission h3 {
    color: #505050;
}

.button p {
    padding: 0.5rem 0;
    color: white;
    font-weight: bold;
}

.mission a {
    text-decoration: none;
}

@media only screen and (max-width: 750px) {

    .hero {
        flex-direction: column;
    }

    .hero .sitecontainer {
        padding: 0;
    }

    .hero img {
        border-radius: 0;
    }

    .mission h1, 
    .mission h3,
    .button {
    margin-bottom: 1.5rem;
    width: 100%;
}

    .button {
        background-color: #9B9B9B;
    }

    .mission h1,
    .button {
        margin-bottom: 2rem;
    }

}

/* === information === */

.information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: solid 1px #696969;
    overflow: hidden;
}

.infoimg {
    margin-right: 24px;
}

.infoimg img {
    border-radius: 15px;
}

.caption h2 {
    padding-bottom: 1.5rem;
}

.caption span {
    padding-top: 2rem;
    font-style: italic;
}

.containerRight {
    width: 40%;
    padding: 32px 0;
}

.information .sitecontainer {
    padding-right: 0;
}

.teaser {
    display: flex;
    border: solid 1px #755691;
    background-color: #D7CCDB;
    transition: all 250ms ease-out;
}

.teaser:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: scale3d(1.01, 1.01, 1);
    background-color: lightgrey;
}

.teaser:first-child {
    border-top-left-radius: 15px;
}


.teaser:last-child {
    border-bottom-left-radius: 15px;
}

.teaserimg.desktop{
    width: 35%;
    overflow: hidden;
    padding: 16px;
}

.teaserimg img {
    height: auto;
    max-width: 100%;
    display: block;
    border-radius: 15px;
}

.teasertxt {
    max-width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.teasertxt h3,
.teasertxt p {
    margin-bottom: 0.5rem;
    color: #4C2C66;
}

.teasertxt p:last-child{
    font-style: italic;
}

@media only screen and (max-width: 750px) {

    .information {
        flex-direction: column;
    }

    .information .sitecontainer {
        padding-right: 16px;
    }

    .containerRight {
        padding-top 16px;
        width: 100%;
    }

    .teaser {
        flex-direction: column;
        border: hidden;
        overflow: hidden;
        background-color: F3F5F5;
    }

    .teaser:hover {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
        transform: scale3d(1.0, 1.0, 1);
        background-color: #F3F5F5;
    }

    .teaserimg.mobile {
        width: 100%;
        display: inline-block;
    }
    
    .teaserimg img {
        width: 100%;
        display: inline-block;
        border-radius: 15px;
    }

    .teasertxt {
        padding: 1rem;
        width: 100%
    }

}

/* === learning === */

.learning {
    display: flex;
    justify-content: center;
    background-image: url("../images/maik-jonietz-535261.jpg");
    background-size: cover;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* Photo above by Maik Jonietz on Unsplash */

.learning .sitecontainer {
    flex-direction: column;
    justify-content: center;
    padding: 0 72px;
    margin: 0;
    border-bottom: solid 1px #696969;
    align-items: center;    
}

.learning h1{
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    color: #4C2C66;
}

.courses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1700px;
    justify-content: center;
    margin-bottom: 2rem;
}

.course {
    background-color: white;
    margin: 1rem;
    margin-bottom: 0;
    width: 30%;
    border-radius: 15px;
    filter: drop-shadow(0 0 0.25rem #696969) brightness(85%);
    transition: 250ms;
}

.course:hover{
    transform: scale3d(1.02, 1.02, 2);
    filter: drop-shadow(0 0 0.45rem #696969) brightness(100%);
}

.courseimg .desktop {
    width: 100%;
    overflow: hidden;
}

.courseimg img {
   max-width: 100%; 
   height: auto;
   display: block;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}

.coursetxt {
    padding: 1rem;
    padding-bottom:1rem;
    height: auto;
}

.coursetxt h3,
.coursetxt p {
    padding-bottom: 0.5rem;
}

.coursetxt p:nth-child(2n+2) {
    font-style: italic;
}

.coursetxt h3 a {
    text-decoration: none;
}

@media only screen and (max-width: 750px) {

    .learning {
        background-color: inherit;
    }

    .learning .sitecontainer {
        width: 100%;
        margin: 0 16px;
        padding: 0;
    }

    .courses {
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0;
        overflow: hidden;
        width: 100%;
    }

    .course {
        width: 100%;
        margin: 0 0 8px 0;
        background-color: white;
        filter: brightness(90%);
    }

    .course:hover {
        filter: brightness(100%);
        transform: scale3d(1.0, 1.0, 1);
    }

    .course:last-child {
        margin: 0;
    }

    .coursetxt {
        padding: 0;
    }

    .course h3 {
        padding: 1rem;
        padding-bottom: 1.5rem;
        border-radius: 5px;
    }
}
/* === thesis === */

.thesis {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.thesis .sitecontainer {
    flex-direction: column;
    justify-content: center;
}

.thesis .sitecontainer h2 {
    margin: 0 auto;
}

.thesisvid {
    margin-right: 24px;
}

.caption h3 {
    padding-bottom: 1.5rem;
}


.thesis-content {
    display: flex;
    flex-direction: columnn;
}

@media only screen and (max-width: 750px) {

    .thesis .sitecontainer {
        padding: 0;
    }

    .thesis h2 {
        padding-bottom: 1rem;
    }

    .thesisvid {
        width: 100%;
        margin: 0;
    }
}

/* === sitecontainerter === */

footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    color: #755691;
    border-top: solid 1px #755691;
    background-color: #D7CCDB;
}

footer ul {
    display: flex;
}

footer li {
    margin-left: 1rem;
}

footer a {
    text-decoration: none;
    color: inherit;
    transition: 200ms ease-out;
}

footer a:hover {
    color: black;
}